# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

# environment variables and secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Capacitor
/ios/
/android/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# TypeScript cache
*.tsbuildinfo

# misc
.DS_Store
Thumbs.db
